<template>
  <section>
    <div v-title data-title="中建东方装饰有限公司"></div>
    <footerButtom tab="0"></footerButtom>
    <div class="list-wrapper-index" ref="wrapper">
      <div class="content">
        <!-- search -->
        <div class="indexsearch" @click="toUrl('/cate/search')">
          <div class="searchmod">
            <input type="text" placeholder="搜索资料" />
          </div>
        </div>
        <!-- search end -->
        <!-- 轮播图 -->
        <!-- <img src="http://img5.mtime.cn/mg/2017/10/02/093957.57763598.jpg" alt="" /> -->
        <div class="indexhead">
          <!-- 图片轮播占位 -->
          <swiper loop height="391px" auto dots-position="center" dots-class="imgdot" :show-dots="true">
            <swiper-item class="swiper-demo-img" v-for="(item, index) in pics" :key="index">
              <img :src="item.picUrl">
            </swiper-item>
          </swiper>
          <!-- <img class="indeximg" src="/static/images/banner.png" alt="" /> -->
        </div>
        <!-- 轮播图 end -->
        <!-- app -->
        <dl class="applist">
          <dd @click="getTrees(item.id)" v-for="(item, index) in trees">
            <i><img :src="index | classIcon(item)" :alt="item.name" /></i>
            <h4>{{item.name}}</h4>
          </dd>
          <dd @click="toUrl('/cate')">
            <i><img src="/static/images/icon/ico-i10.png" alt="更多分类" /></i>
            <h4>更多分类</h4>
          </dd>
        </dl>
        <!-- app end -->
        <!-- list -->
        <div class="indexlist">
          <h4>最新推荐</h4>
          <dl class="classlist">
            <dd v-for="(item, index) in artis">
              <div class="format3" v-if="item.relatedType==5">
                <div @click="detailUrl(item.relatedType,item.artiId)">
                  <h3>{{item.title | subStr(20)}}</h3>
                  <div class="layout">
                    <div class="td" v-for="(item1, index1) in item.files"><img :src="item1.realFileUrl" @load="loadImage" /></div>
                  </div>
                </div>
                <div class="editbox">
                  <i :class="item.relatedTypeName | classStr"></i>
                  <b>{{item.viewHits}}阅读</b>
                  <b>{{item.downNum}}人下载</b>
                  <b>{{item.createTimeStr}}</b>
                  <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
                </div>
              </div>
              <div class="format" v-else-if="item.picUrl.length == 0">
                <div @click="detailUrl(item.relatedType,item.artiId)">
                  <h3>{{item.title | subStr(20)}}</h3>
                  <p>{{item.summary | subStr(25) }}</p>
                </div>
                <div class="editbox">
                  <i :class="item.relatedTypeName | classStr"></i>
                  <b>{{item.viewHits}}阅读</b>
                  <b>{{item.downNum}}人下载</b>
                  <b>{{item.createTimeStr}}</b>
                  <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
                </div>
              </div>
              <div class="format2" v-else>
                <div class="layout" @click="detailUrl(item.relatedType,item.artiId)">
                  <div class="td">
                    <h3>{{item.title | subStr(20)}}</h3>
                    <p>{{item.summary | subStr(25)}}</p>
                  </div>
                  <div class="td tr"><img :src="item.picUrl" alt="标题" /></div>
                </div>
                <div class="editbox">
                  <i :class="item.relatedTypeName | classStr"></i>
                  <b>{{item.viewHits}}阅读</b>
                  <b>{{item.downNum}}人下载</b>
                  <b>{{item.createTimeStr}}</b>
                  <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <!-- list end -->
        <div class="bottom-tip" v-show="hasdata">
          <span class="loading-hook">加载中...</span>
        </div>
      </div>
    </div>
    <div v-transfer-dom>
      <x-dialog v-model="showHideOnBlur" class="dialog-demo" hide-on-blur>
        <div class="classifylist">
          <dl>
            <dd v-for="(item, index) in childTrees" @click="toChildUrl(item.id)">
              <span><img :src="index | childClassIcon(pId,item)" /></span>
              <h4>{{item.name}}</h4>
            </dd>
          </dl>
        </div>
        <div @click="showHideOnBlur=false">
          <span class="vux-close"></span>
        </div>
      </x-dialog>
    </div>
  </section>
</template>

<script>
import { numberPad, XDialog, TransferDomDirective as TransferDom, Swiper, SwiperItem } from 'vux'
import footerButtom from '../components/Footer.vue'
import BScroll from 'better-scroll'
export default {
  directives: {
    TransferDom
  },
  components: {
    footerButtom,
    Swiper,
    SwiperItem,
    XDialog
  },
  data () {
    return {
      pId: 0,
      trees: [],
      artis: [],
      pics: [],
      pageIndex: 1,
      hasdata: false,
      showHideOnBlur: false,
      childTrees: []
    }
  },
  created () {
    this.getTrees(0)
    this.getArtis(0)
    this.getPics(1)
  },
  filters: {
    subStr: function (value, num) {
      return value.substr(0, num)
    },
    classStr: function (value) {
      return 'ico-' + value
    },
    classIcon: function (value, item) {
      var realPicUrl = item.realPicUrl
      if (realPicUrl !== undefined && realPicUrl.length > 0) {
        return realPicUrl
      }
      return '/static/images/icon/ico-i' + numberPad(value + 1) + '.png'
    },
    childClassIcon: function (value, pId, item) {
      var realPicUrl = item.realPicUrl
      if (realPicUrl !== undefined && realPicUrl.length > 0) {
        return realPicUrl
      }
      var icon = 'tz'
      if (pId === 20) {
        icon = 'bz'
      } else if (pId === 43) {
        icon = 'cg'
      } else if (pId === 51) {
        icon = 'qy'
      }
      return '/static/images/class/' + icon + numberPad(value + 1) + '.png'
    }
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    getTrees (pId) {
      var param = {
        pId: pId
      }
      let that = this
      this.get('/rest/tree/list', param, function (result) {
        if (result.status === 1) {
          if (pId === 0) {
            that.trees = result.trees
          } else if (pId === 1) {
            that.toUrl('/cate/1/arti')
          } else {
            that.childTrees = result.trees
            that.showHideOnBlur = true
            that.pId = pId
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    initScroll () {
      let that = this
      this.$nextTick(() => {
        if (!that.scroll) {
          that.scroll = new BScroll(this.$refs.wrapper, {
            click: true
          })

          // 滑动结束
          var bottomTip = document.querySelector('.loading-hook')
          that.scroll.on('touchend', function (position) {
            if (position.y < (this.maxScrollY - 0)) {
              bottomTip.innerText = '加载中...'
              // 恢复文本值
              // bottomTip.innerText = '查看更多'

              // 向列表添加数据
              if (that.hasdata) {
                that.getArtis(0)
              }

              // reloadData()
              // 加载更多后,重新计算滚动区域高度
              window.setTimeout(function () {
                that.scroll.refresh()
              }, 500)
            }
          })
        } else {
          that.scroll.refresh()
        }
      })
    },
    getArtis (treeId) {
      var param = {
        treeId: treeId,
        pageIndex: this.pageIndex
      }
      let that = this
      this.get('/rest/arti/list', param, function (result) {
        if (result.status === 1) {
          for (let item of result.artis) {
            that.artis.push(item)
          }
          if (that.pageIndex === 1 && result.artis.length > 0) {
            that.initScroll()
          }
          that.pageIndex++
          if (result.artis.length < 20) {
            that.hasdata = false
          } else {
            that.hasdata = true
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    getPics (groupId) {
      var param = {
        groupId: groupId
      }
      let that = this
      this.get('/rest/arti/piclist', param, function (result) {
        if (result.status === 1) {
          that.pics = result.pics
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    detailUrl (relatedType, artiId) {
      if (relatedType === 6) {
        this.toUrl('/arti/video/' + artiId)
      } else {
        this.toUrl('/arti/detail/' + artiId)
      }
    },
    toChildUrl (pId) {
      var param = {
        pId: pId
      }
      let that = this
      this.get('/rest/tree/list', param, function (result) {
        if (result.status === 1) {
          var trees = result.trees
          if (trees.length > 0) {
            that.childTrees = result.trees
            that.showHideOnBlur = true
            that.pId = pId
          } else {
            that.toUrl('/cate/' + pId + '/arti')
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    loadImage () {
      let target = event.target
      this.drawImage(target, 226, 153)
      // this.scroll.refresh()
    }
  }
}
</script>
<style lang="less" scoped>
@import "~vux/src/styles/close";

.dialog-demo {
  .vux-close {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.classlist {
}
</style>
