body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
textarea,
th,
tr,
td,
em {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  font: 100%/100% "San Francisco Display", "Helvetica Neue", "黑体", "微软雅黑";
  color: #333;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  color: #2698fd;
}
input,
textarea {
  font-family: "San Francisco Display", "Helvetica Neue", "黑体", "微软雅黑";
  font-size: 20px;
  padding: 2px;
  vertical-align: middle;
  outline: none;
}
textarea {
  line-height: 18px;
  overflow: hidden;
  overflow-y: auto;
}
select {
  padding: 0;
  font: 12px Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
th,
var,
b,
i,
em {
  font-style: normal;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
:focus {
  outline: 0;
}
fieldset,
img {
  border: 0;
}
img {
  vertical-align: middle;
}
caption,
th {
  text-align: left;
}
iframe {
  vertical-align: middle;
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.c-ed {
  color: #ededed;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.allfile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
  border: 0;
}
.p_r {
  position: relative;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.ico-loginhead {
  background: url("../images/icon/ico-login-head.png") no-repeat center center;
  width: 170px;
  height: 170px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-loginuser {
  background: url("../images/icon/ico-login-user.png") no-repeat center center;
  width: 40px;
  height: 46px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-loginpaw {
  background: url("../images/icon/ico-login-paw.png") no-repeat center center;
  width: 40px;
  height: 46px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-word {
  background: url("../images/icon/ico-word.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-pdf {
  background: url("../images/icon/ico-pdf.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-ppt {
  background: url("../images/icon/ico-pdf2.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-video {
  background: url("../images/icon/ico-video.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-excel {
  background: url("../images/icon/ico-excel.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-piccoll {
  background: url("../images/icon/ico-img.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-pic {
  background: url("../images/icon/ico-imgs.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-other {
  background: url("../images/icon/ico-img.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-download {
  background: url("../images/icon/ico-download.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-fav {
  background: url("../images/icon/ico-fav.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-faved {
  background: url("../images/icon/ico-faved.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-share {
  background: url("../images/icon/ico-share.png") no-repeat center center;
  width: 44px;
  height: 44px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-mypw {
  background: url("../images/icon/ico-my-pw.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
.ico-mydw {
  background: url("../images/icon/ico-my-dw.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
.ico-myfav {
  background: url("../images/icon/ico-my-fav.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 35px auto;
}
.ico-myshare {
  background: url("../images/icon/ico-my-share.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 35px auto;
}
.ico-myfb {
  background: url("../images/icon/ico-my-fb.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 37px auto;
}
.ico-myclear {
  background: url("../images/icon/ico-my-clear.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
.btnpure {
  font-family: "微软雅黑", "microsoft yahei";
  background: transparent;
  width: auto;
  height: 75px;
  line-height: 75px;
  border-radius: 37.5px;
  border: 1px solid transparent;
  color: #cbcbcb;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-width: 120px;
}
.btnpure:hover {
  background: transparent;
  color: #cbcbcb;
  border: 1px solid transparent;
}
.btnred {
  font-family: "微软雅黑", "microsoft yahei";
  background: #cd3467;
  width: auto;
  height: 78px;
  line-height: 78px;
  border-radius: 39px;
  border: 1px solid #cd3467;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-width: 120px;
  background-image: -webkit-linear-gradient(0deg, #c62340, #cd3569);
}
.btnred:hover {
  background: #c82749;
  color: #fff;
  border: 1px solid #c82749;
}
.btnblue {
  font-family: "微软雅黑", "microsoft yahei";
  background: #2698fd;
  width: auto;
  height: 78px;
  line-height: 78px;
  border-radius: 39px;
  border: 1px solid #2698fd;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-width: 120px;
}
.btnblue:hover {
  background: #2698fd;
  color: #fff;
  border: 1px solid #2698fd;
}
.btndarkgray {
  font-family: "微软雅黑", "microsoft yahei";
  background: #404040;
  width: auto;
  height: 78px;
  line-height: 78px;
  border-radius: 39px;
  border: 1px solid #404040;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-width: 120px;
}
.btndarkgray:hover {
  background: #404040;
  color: #fff;
  border: 1px solid #404040;
}
.btntintgray {
  font-family: "微软雅黑", "microsoft yahei";
  background: #fbfbfb;
  width: auto;
  height: 78px;
  line-height: 78px;
  border-radius: 39px;
  border: 1px solid #fbfbfb;
  color: #666;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-width: 120px;
}
.btntintgray:hover {
  background: #fbfbfb;
  color: #666;
  border: 1px solid #fbfbfb;
}
.btndisabled {
  font-family: "微软雅黑", "microsoft yahei";
  background: #cbcbcb;
  width: auto;
  height: 78px;
  line-height: 78px;
  border-radius: 39px;
  border: 1px solid #cbcbcb;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  position: relative;
  zoom: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  cursor: default;
  min-width: 120px;
}
.btndisabled:hover {
  background: #cbcbcb;
  color: #fff;
  border: 1px solid #cbcbcb;
}
header {
  background-color: #fff;
  width: 100%;
  height: 87px;
  border-bottom: 1px solid #ededed;
}
header h3 {
  font-size: 34px;
  line-height: 87px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #333;
  padding: 0 100px;
}
header .goback {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 0;
  top: 0;
}
header .goback:before {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  transform: rotate(-45deg);
  margin: -13px 0 0 -13px;
  content: "";
}
header .tool {
  position: absolute;
  top: 0;
  right: 0;
}
header .tool .text {
  font-size: 30px;
  line-height: 87px;
  font-weight: normal;
  font-style: normal;
  margin-right: 30px;
}
header .filter {
  background: url("../images/icon/ico-filter.png") no-repeat center center;
  width: 88px;
  height: 88px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 40px 42px;
}
.menu {
  background-color: #fff;
  width: 100%;
  height: 98px;
  border-top: 1px solid #ededed;
  position: fixed;
  left: 0;
  bottom: 0;
  display: table;
  box-align: center;
  box-pack: center;
  z-index: 15;
}
.menu dd {
  width: 33%;
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding-top: 3px;
  display: table-cell;
  vertical-align: middle;
  color: #999;
}
.menu .ico-home {
  background: url("../images/icon/ico-b-home.png") no-repeat center center;
  width: 72px;
  height: 63px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 65%;
}
.menu .ico-class {
  background: url("../images/icon/ico-b-class.png") no-repeat center center;
  width: 72px;
  height: 63px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 65%;
}
.menu .ico-my {
  background: url("../images/icon/ico-b-user.png") no-repeat center center;
  width: 72px;
  height: 63px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 65%;
}
.menu dd.on {
  color: #2698fd;
}
.menu dd.on .ico-home {
  background-image: url("../images/icon/ico-b-home-on.png");
}
.menu dd.on .ico-class {
  background-image: url("../images/icon/ico-b-class-on.png");
}
.menu dd.on .ico-my {
  background-image: url("../images/icon/ico-b-user-on.png");
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.layout_vh_c .td {
  vertical-align: middle !important;
}
.searchmod {
  background-color: #fff;
  border-radius: 40px 40px 40px 40px;
  text-align: center;
  position: relative;
  border: 1px solid #cbcbcb;
  height: 68px;
}
.searchmod:before {
  background: url("/static/images/icon/ico-zoom.png") no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -14px 0 0 -90px;
  content: "";
  transition: linear .6s;
}
.searchmod input {
  background-color: transparent;
  width: 100%;
  height: 26px;
  border: 1px solid transparent;
  padding: 21px 0;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  border: none;
}
.searchmod input::-webkit-input-placeholder {
  color: #cbcbcb;
  line-height: normal;
}
.searchmod.cur:before {
  left: 0;
  margin-left: 15px;
}
.searchmod.cur input {
  text-align: left;
  padding-left: 60px;
}
body {
  background-color: #f2f8f8;
}
.bgwhite {
  background-color: #fff;
}
.indexhead img {
  width: 100%;
  height: 391px;
  display: block;
}
.indexsearch {
  position: absolute;
  left: 0;
  top: 20px;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}
.applist {
  background-color: #fff;
  display: block;
  zoom: 1;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.applist:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.applist dd {
  width: 20%;
  height: 120px;
  padding-top: 25px;
  float: left;
  text-align: center;
}
.applist dd h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding-top: 5px;
}
.applist dd i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  width: 70px;
}
.applist dd i img {
  width: 100%;
}
.indexlist {
  background-color: #fff;
  padding-bottom: 0px;
}
.indexlist h4 {
  color: #999;
  font-size: 26px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding: 30px;
  padding-bottom: 0;
}
.copyright {
  font-size: 22px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: #999;
  position: fixed;
  bottom: 30px;
}
.loginbox {
  padding: 150px 80px 0;
}
.loginbox .ico-loginhead {
  display: block;
  margin: 0 auto;
}
.loginbox dl {
  padding-top: 55px;
}
.loginbox dd {
  position: relative;
  margin-top: 30px;
  border-radius: 95px 95px 95px 95px;
  border: 1px solid #eaeaea;
  height: 95px;
}
.loginbox dd label {
  position: absolute;
  left: 45px;
  top: 50%;
  margin-top: -23px;
}
.loginbox dd .inputxt {
  background-color: transparent;
  width: 400px;
  height: 30px;
  border: 1px solid none;
  padding: 32.5px 0 32.5px 120px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}
.loginbox dd .inputxt::-webkit-input-placeholder {
  color: #909090;
}
.loginbox dt {
  padding-top: 30px;
  font-size: 24px;
  line-height: 44px;
  font-weight: normal;
  font-style: normal;
  color: #707070;
}
.loginbox dt i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  border-radius: 50% 50% 50% 50%;
  margin-right: 5px;
  border: 1px solid #707070;
  width: 42px;
  height: 42px;
  top: -3px;
}
.loginbox dt i.on {
  background: url("../images/icon/ico-login-rp.png") no-repeat center center;
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
  border-color: #2698fd;
}
.loginbox .btnbox button {
  margin-top: 85px;
  width: 100%;
}
.classify .searchbox {
  background-color: #f2f8f8;
  padding: 12px 30px;
  border-bottom: 1px solid #cbcbcb;
}
.classlist dd {
  padding: 30px;
  border-bottom: 1px solid #cbcbcb;
}
.classlist h3 {
  font-size: 33px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}
.classlist .editbox {
  padding-top: 20px;
}
.classlist .editbox b {
  font-size: 25px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin-left: 6px;
  margin-right: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  color: #999;
}
.classlist .editbox a {
  font-size: 25px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.classlist .editbox a:after {
  background: url("../images/icon/ico-more.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 6px;
  background-size: contain;
  content: "";
  top: -2px;
}
.classlist .format p {
  font-size: 29px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  padding-top: 20px;
  color: #707070;
}
.classlist .format2 .td:first-child {
  padding-right: 80px;
}
.classlist .format2 img {
  width: 226px;
  height: 153px;
}
.classlist .format2 p {
  font-size: 29px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  padding-top: 20px;
  color: #707070;
}
.classlist .format3 .layout {
  padding-top: 30px;
}
.classlist .format3 .td {
  padding-right: 10px;
}
.classtab {
  background-color: #f6f6f6;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  border-bottom: 1px solid #ededed;
}
.classtab ul {
  white-space: nowrap;
  word-break: keep-all;
}
.classtab li {
  text-align: center;
  font-size: 29px;
  line-height: 74px;
  font-weight: normal;
  font-style: normal;
  padding: 0 25px;
}
.classtab li.on {
  color: #2698fd;
  border-bottom: 3px solid #2698fd;
  line-height: 71px;
}
.classifylist dl {
  display: block;
  zoom: 1;
}
.classifylist dl:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.classifylist dd {
  float: left;
  width: 33%;
  height: 195px;
  text-align: center;
  margin-top: 60px;
}
.classifylist span {
  background-color: #bddefc;
  width: 108px;
  height: 108px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 5px 8px 13px rgba(38, 152, 253, 0.2);
}
.classifylist span img {
  width: 100%;
}
.classifylist h4 {
  padding-top: 25px;
  font-size: 29px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
}
.articledetail {
  padding: 30px;
  padding-bottom: 110px;
}
.articledetail h2 {
  font-size: 33px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
.articledetail .editbox {
  padding-top: 20px;
}
.articledetail .editbox b {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin-left: 6px;
  margin-right: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  color: #999;
}
.articledetail .editbox a {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
}
.articledetail .editbox a:after {
  background: url("../images/icon/ico-more.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 6px;
  background-size: contain;
  content: "";
  top: -2px;
}
.articledetail .content {
  padding-top: 35px;
  font-size: 29px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
}
.articledetail .content p {
  padding-bottom: 30px;
  text-align: center;
}
.articledetail .content p img {
  max-width: 100%;
  height: auto;
}
.articledetail .contentwater {
  background-size: contain;
  width: 100%;
  height: 75%;
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 0;
}
.articlebottom {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid #ededed;
}
.articlebottom li {
  text-align: center;
  line-height: 97px;
  width: 33%;
}
.videodetail .classlist dd {
  border-bottom: none;
}
.mybox {
  background-color: #f2f8f8;
  height: 100%;
}
.myuserbox {
  background: url("../images/mybg.jpg") no-repeat center 0;
  background-size: contain;
  height: 242px;
  padding-top: 88px;
  position: relative;
  text-align: center;
}
.myuserbox i {
  background: url("../images/icon/ico-my-head.png") no-repeat center center;
  width: 122px;
  height: 122px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.myuserbox h3 {
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding-top: 20px;
  color: #fff;
}
.mylist {
  background-color: #fff;
  margin-bottom: 15px;
  border-top: 1px solid #e2e8e8;
  border-bottom: 1px solid #e2e8e8;
}
.mylist dd {
  line-height: 90px;
  margin-left: 75px;
  position: relative;
  border-bottom: 1px solid #e2e8e8;
}
.mylist dd:last-child {
  border: none;
}
.mylist dd label {
  position: absolute;
  left: -75px;
  top: 0;
}
.mylist dd p {
  font-size: 25px;
}
.mylist dd p.tr {
  color: #999;
  padding-right: 60px;
}
.mylist dd .after:after {
  border-top: 2px solid #e2e8e8;
  border-right: 2px solid #e2e8e8;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -7px;
  content: "";
  width: 16px;
  height: 16px;
}
.mybtnbox {
  padding: 75px 30px;
}
.mybtnbox button {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
}
.mybtnbox p {
  margin-bottom: 10px;
}
.feedbackbox {
  padding: 30px;
}
.feedbackbox dd {
  margin-bottom: 35px;
}
.feedbackbox .input {
  background-color: #fff;
  width: 90%;
  height: 29px;
  line-height: 29px;
  border: 1px solid #ededed;
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  font-size: 29px;
}
.feedbackbox textarea {
  background-color: #fff;
  width: 90%;
  height: 29px;
  line-height: 29px;
  border: 1px solid #ededed;
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  height: 430px;
  resize: none;
  font-size: 29px;
}
.feedbackbox dt {
  font-size: 24px;
  color: #707070;
}
.searchtop {
  background-color: #fffcfc;
  height: 88px;
  border-bottom: 1px solid #ededed;
}
.searchtop .layout {
  padding: 14px 30px;
}
.searchtop .layout .td:first-child {
  width: 85%;
}
.searchtop .searchmod {
  height: 56px;
}
.searchtop .searchmod input {
  background-color: transparent;
  width: 90%;
  height: 26px;
  line-height: 26px;
  border: 1px solid transparent;
  padding: 15px 0;
  padding-left: 50px;
}
.searchtop button {
  width: 100%;
  height: 58px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  background: none;
  border: none;
  color: #707070;
}
.kwbox {
  padding: 30px;
  border-bottom: 1px solid #ededed;
}
.kwbox dt {
  position: relative;
  line-height: 30px;
  padding-bottom: 20px;
}
.kwbox dt h4 {
  font-size: 25px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #999;
}
.kwbox dt .ref {
  color: #2698fd;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
.kwbox .kwtag {
  display: block;
  zoom: 1;
}
.kwbox .kwtag:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.kwbox .kwtag li {
  float: left;
  font-size: 29px;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  width: 50%;
}
.list-wrapper-index {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 80px;
  z-index: 1;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.bottom-tip {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #777;
  margin-top: 50px;
}
.pagenav {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding: 1rem 0;
}
.pagenav i {
  background: #2698fd;
  display: inline-block;
  padding: 0 1rem;
  line-height: 3rem;
  color: #fff;
  border-radius: 3px;
}
