@import "../style/common/reset";//基本样式表
@import "../style/common/mixins";//mixins
@import "../style/common/plugins/icon";
@import "../style/common/plugins/button";
@import "../style/common/nav";//nav
@import "../style/common/menu";//menu
@import "../style/common/layout"; //布局
@import "../style/common/plugins/search";

body{
    .bg-color(#f2f8f8)
}
.bgwhite{
    .bg-color(#fff)
}
// index
.indexhead{
  img{
      width: 100%;
      height: 391px;
      // max-width: 100%;
      // height: auto;
      .block;
  }
}
.indexsearch{
    .pos-alt(0;20px);
    .padding(0 30px);
    width: 100%;
    box-sizing:border-box;
    z-index: 10;
}
.applist{
    .bg-color(#fff);
    .fix;
    .pb(25px);
    .mb(15px);
    border-bottom: 1px solid #ededed;
    dd{
        width: 20%;
        height: 120px;
        .pt(25px);
        .fl;
        .tc;
        h4{
            .font(24px);
            .pt(5px);
        }
        i{
            .inline-block;
            width: 70px;
            img{
                width: 100%;
            }
        }
    }
}
.indexlist{
    .bg-color(#fff);
    .pb(0px);
    h4{
        color: #999;
        .font(26px);
        .padding(30px);
        .pb(0)
    }
}
.copyright{
    .font(22px);
    .tc;
    width: 100%;
    color: #999;
    position: fixed;
    bottom: 30px;
}
// 登录
.loginbox{
    padding: 150px 80px 0;
    .ico-loginhead{
        .block;
        .margin(0 auto;)
    }
    dl{
        .pt(55px);
    }
    dd{
        .p_r;
        .mt(30px);
        .circle(95px);
        border: 1px solid #eaeaea;
        height: 95px;
        label{
            .pos-alt(45px;50%);
            .mt(-23px);
        }
        .inputxt{
            .input-text(transparent;400px;30px;none;32.5px 0 32.5px 120px);
            .font(30px;30px);
            &::-webkit-input-placeholder {
                color:#909090;
            }
        }
    }
    dt{
        .pt(30px);
        .font(24px;44px);
        color: #707070;
        i{
            .inline-block;
            .circle(50%);
            .mr(5px);
            border: 1px solid #707070;
            .square(42px);
            top:-3px;
            &.on{
                .icon("../images/icon/ico-login-rp.png"; center; center; 42px; 42px);
                background-size: contain;
                border-color: #2698fd;
            }
        }
    }
    .btnbox{
        button{
            .mt(85px);
            width: 100%;
        }
    }
}

// 分类列表
.classify{
    .searchbox{
        .bg-color(#f2f8f8);
        .padding(12px 30px);
        border-bottom: 1px solid #cbcbcb;
    }
}
.classlist{
    dd{
        .padding(30px);
        border-bottom: 1px solid #cbcbcb;
    }
    h3{
        .font(33px);
        line-height: 1.2
    }
    .editbox{
        .pt(20px);
        b{
           .font(25px);
           .ml(6px);
           .mr(15px);
           .inline-block;
           color: #999;
        }
        a{
            .font(25px);
            .inline-block;
            &:after{
                .icon("../images/icon/ico-more.png"; center; center; 26px; 26px);
                .ml(6px);
                background-size: contain;
                content: "";
                top:-2px;
            }
        }
    }
    .format{
        p{
            .font(29px;1.5);
            .pt(20px);
            color: #707070;
        }
    }
    .format2{
        .td:first-child{
            .pr(80px);
        }
        img{
          width: 226px;
          height: 153px;
        }
        p{
            .font(29px;1.5);
            .pt(20px);
            color: #707070;
        }
    }
    .format3{
        .layout{
            .pt(30px);
        }
        .td{
            .pr(10px);
            // img{
            //   width: 226px;
            //   height: 153px;
            // }
        }
    }
}

// 分类
.classtab{
  .bg-color(#f6f6f6);
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  border-bottom: 1px solid #ededed;
  ul{
      white-space: nowrap;
      word-break: keep-all;
  }
  li{
      .tc;
      .font(29px;74px);
      .padding(0 25px);
      &.on{
          color: #2698fd;
          border-bottom: 3px solid #2698fd;
          .lh(71px);
      }
  }
}
.classifylist{
    dl{
        .fix;
    }
    dd{
        .fl;
        .elesize(33%;195px);
        .tc;
        .mt(60px);
    }
    span{
        .bg-color(#bddefc);
        .square(108px);
        .inline-block;
        .circle(50%);
        box-shadow: 5px 8px 13px rgba(38,152,253,.2);
        img{
            width: 100%;
        }
    }
    h4{
        .pt(25px);
        .font(29px);
    }

}

// 商品详情页
.articledetail{
    .padding(30px);
    .pb(110px);
    h2{
        .font(33px);
        .tc;
    }
    .editbox{
        .pt(20px);
        b{
           .font(24px);
           .ml(6px);
           .mr(15px);
           .inline-block;
           color: #999;
        }
        a{
            .font(24px);
            &:after{
                .icon("../images/icon/ico-more.png"; center; center; 26px; 26px);
                .ml(6px);
                background-size: contain;
                content: "";
                top:-2px;
            }
        }
    }
    .content{
        .pt(35px);
        .font(29px;1.6);
        p{
          padding-bottom: 30px;
          // padding: 15px 30px;
          text-align: center;
          img{
            max-width: 100%;
            height: auto;
          }
        }
    }
    .contentwater{
      // background: url() no-repeat 0 0;
      background-size:contain;
      width:100%;
      height:75%;
      position:fixed;
      top:120px;
      right:0;
      bottom:0
    }
}
// 文章底部
.articlebottom{
    .bg-color(#fff);
    position: fixed;
    width: 100%;
    bottom:0;
    z-index: 1;
    border-top: 1px solid #ededed;
    li{
        .tc;
        .lh(97px);
        width: 33%;
    }
}
// 视频具体页
.videodetail .classlist dd{
    border-bottom: none;
}

//我的
.mybox{
    .bg-color(#f2f8f8);
    height: 100%;
}
.myuserbox{
    background: url("../images/mybg.jpg") no-repeat center 0;
    background-size: contain;
    height: 242px;
    .pt(88px);
    .p_r;
    .tc;
    i{
        .icon("../images/icon/ico-my-head.png"; center; center; 122px; 122px);
        background-size: contain;
    }
    h3{
        .font(36px);
        .pt(20px);
        color: #fff;
    }
}
.mylist{
    .bg-color(#fff);
    .mb(15px);
    border-top: 1px solid #e2e8e8;
    border-bottom: 1px solid #e2e8e8;
    dd{
        .lh(90px);
        .ml(75px);
        .p_r;
        border-bottom: 1px solid #e2e8e8;
        &:last-child{
            border: none;
        }
        label{
            .pos-alt(-75px;0);
        }
        p{
            font-size: 25px;
            &.tr{
                color: #999;
                .pr(60px);
            }
        }
        .after:after{
            border-top: 2px solid #e2e8e8;
            border-right: 2px solid #e2e8e8;
            transform: rotate(45deg);
            .pos-atr(50%;30px);
            .mt(-7px);
            content: "";
            width: 16px;
            height: 16px;
        }
    }
}
.mybtnbox{
    .padding(75px 30px);
    button{
        .circle(5px);
        width: 100%;
    }
    p{
      margin-bottom: 10px;
    }
}
// 意见反馈
.feedbackbox{
    .padding(30px);
    dd{
        .mb(35px);
    }
    .input{
        .input-text(#fff;90%;29px;#ededed;30px);
        .circle(10px);
        font-size: 29px;
    }
    textarea{
        .input-text(#fff;90%;29px;#ededed;30px);
        .circle(10px);
        height: 430px;
        resize: none;
        font-size: 29px;
    }
    dt{
        font-size: 24px;
        color: #707070;
    }
}
// 搜索
.searchtop{
    .bg-color(#fffcfc);
    height: 88px;
    border-bottom: 1px solid #ededed;
    .layout{
        .padding(14px 30px);
        .td:first-child{
            width: 85%;
        }
    }

    .searchmod{
        height: 56px;
        input{
            .input-text(transparent;90%;26px;transparent;15px 0);
            .pl(50px;)
        }
    }

    button{
        .elesize(100%;58px);
        .tc;
        .font(30px);
        background: none;
        border: none;
        color: #707070;
    }
}
.kwbox{
    .padding(30px);
    border-bottom: 1px solid #ededed;
    dt{
        .p_r;
        .lh(30px);
        .pb(20px);
        h4{
            .font(25px);
            color: #999;
        }
        .ref{
            color: #2698fd;
            font-size: 24px;
            .pos-atr;
        }
    }
    .kwtag{
        .fix;
        li{
            .fl;
            .font(29px;1.8);
            width: 50%;
        }
    }
}
.list-wrapper-index {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 80px;
  z-index: 1;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.bottom-tip {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #777;
  margin-top:50px;
}
.pagenav{
  .font(1.2rem);
  padding: 1rem 0;
  i{
      background: #2698fd;
      display: inline-block;
      padding: 0 1rem;
      line-height: 3rem;
      color: #fff;
      border-radius: 3px;
  }
}
