<template>
  <section>
    <!-- bottombar -->
    <div class="menu">
      <dl class="layout">
        <dd class="td" :class="{on:tab==0}" @click="toUrl('/index')">
          <i class="ico-home"></i>
          <p>首页</p>
        </dd>
        <dd class="td" :class="{on:tab==1}" @click="toUrl('/cate')">
          <i class="ico-class"></i>
          <p>分类</p>
        </dd>
        <dd class="td" :class="{on:tab==2}" @click="toUrl('/user')">
          <i class="ico-my"></i>
          <p>我的</p>
        </dd>
      </dl>
    </div>
    <!-- bottombar end -->
  </section>
</template>

<script>
export default {
  props: ['tab'],
  components: {
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
