<template>
  <section class="bgwhite">
    <div v-title data-title="资料信息"></div>

    <div class="list-wrapper" ref="wrapper">
      <div>
        <!-- search -->
        <div class="classify" @click="toUrl('/cate/search')">
          <div class="searchbox">
            <div class="searchmod">
              <input type="text" placeholder="搜索资料" />
            </div>
          </div>
        </div>
        <!-- search end -->
        <!-- list -->
        <dl class="classlist">
          <dd v-for="(item, index) in artis">
            <div class="format3" v-if="item.relatedType==5">
              <div @click="detailUrl(item.relatedType,item.artiId)">
                <h3>{{item.title | subStr(20)}}</h3>
                <div class="layout">
                  <div class="td" v-for="(item1, index1) in item.files"><img :src="item1.realFileUrl" @load="loadImage" /></div>
                </div>
              </div>
              <div class="editbox">
                <i :class="item.relatedTypeName | classStr"></i>
                <b>{{item.viewHits}}阅读</b>
                <b>{{item.downNum}}人下载</b>
                <b>{{item.createTimeStr}}</b>
                <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
              </div>
            </div>
            <div class="format" v-else-if="item.picUrl.length == 0">
              <div @click="detailUrl(item.relatedType,item.artiId)">
                <h3>{{item.title | subStr(20)}}</h3>
                <p>{{item.summary | subStr(25) }}</p>
              </div>
              <div class="editbox">
                <i :class="item.relatedTypeName | classStr"></i>
                <b>{{item.viewHits}}阅读</b>
                <b>{{item.downNum}}人下载</b>
                <b>{{item.createTimeStr}}</b>
                <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
              </div>
            </div>
            <div class="format2" v-else>
              <div class="layout" @click="detailUrl(item.relatedType,item.artiId)">
                <div class="td">
                  <h3>{{item.title | subStr(20)}}</h3>
                  <p>{{item.summary | subStr(25)}}</p>
                </div>
                <div class="td tr"><img :src="item.picUrl" alt="标题" /></div>
              </div>
              <div class="editbox">
                <i :class="item.relatedTypeName | classStr"></i>
                <b>{{item.viewHits}}阅读</b>
                <b>{{item.downNum}}人下载</b>
                <b>{{item.createTimeStr}}</b>
                <a href="javascript:void(0)" @click="toUrl('/cate/'+item.secondTreeId+'/arti')">{{item.firstTreeName}}</a>
              </div>
            </div>
          </dd>
        </dl>
        <!-- list end -->
        <div class="bottom-tip" v-show="hasdata">
          <span class="loading-hook">加载中...</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { cookie } from 'vux'
import BScroll from 'better-scroll'
export default {
  components: {
    cookie
  },
  data () {
    return {
      cateId: parseInt(this.$route.params.cateId) || 0,
      searchKey: this.$route.params.searchKey,
      artis: [],
      pageIndex: 1,
      hasdata: false
    }
  },
  created () {
    this.getArtis(this.cateId)
  },
  filters: {
    subStr: function (value, num) {
      return value.substr(0, num)
    },
    classStr: function (value) {
      return 'ico-' + value
    }
  },
  computed: {},
  mounted: function () { },
  methods: {
    initScroll () {
      let that = this
      this.$nextTick(() => {
        that.scroll = new BScroll(this.$refs.wrapper, {
          click: true
        })
        // 滑动结束
        var bottomTip = document.querySelector('.loading-hook')
        that.scroll.on('touchend', function (position) {
          if (position.y < (this.maxScrollY - 0)) {
            bottomTip.innerText = '加载中...'

            // 恢复文本值
            // bottomTip.innerText = '查看更多'

            // 向列表添加数据
            if (that.hasdata) {
              that.getArtis(that.cateId)
            }
            // reloadData()
            // 加载更多后,重新计算滚动区域高度
            window.setTimeout(function () {
              that.scroll.refresh()
            }, 500)
          }
        })
      })
    },
    getArtis (treeId) {
      var param = {
        treeId: treeId,
        searchKey: this.searchKey,
        pageIndex: this.pageIndex
      }
      let that = this
      this.get('/rest/arti/list', param, function (result) {
        if (result.status === 1) {
          for (let item of result.artis) {
            that.artis.push(item)
          }
          if (that.pageIndex === 1 && result.artis.length > 0) {
            that.initScroll()
          }
          that.pageIndex++
          if (result.artis.length < 20) {
            that.hasdata = false
          } else {
            that.hasdata = true
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    detailUrl (relatedType, artiId) {
      if (relatedType === 6) {
        this.toUrl('/arti/video/' + artiId)
      } else {
        this.toUrl('/arti/detail/' + artiId)
      }
    },
    loadImage () {
      let target = event.target
      this.drawImage(target, 226, 153)
    }
  }
}
</script>
