<template>
  <section>
    <div v-title data-title="文章详情"></div>
    <!-- bottombar -->
    <div class="articlebottom">
      <ul class="layout">
        <li class="td" @click="userop(2)" v-show="arti.down==1">
          <i class="ico-download"></i>
        </li>
        <li class="td" @click="userop(1)">
          <i :class="[collect ? 'ico-faved':'ico-fav']"></i>
        </li>
        <li class="td" @click="userop(3)">
          <i class="ico-share"></i>
        </li>
      </ul>
    </div>
    <!-- bottombar end -->
    <!-- content -->
    <div class="articledetail">
      <h2>{{arti.title}}</h2>
      <div class="editbox">
        <i :class="arti.relatedTypeName | classStr"></i>
        <b>{{arti.viewHits}}阅读</b>
        <b>{{arti.downNum}}人下载</b>
        <b>{{arti.createTimeStr}}</b>
        <a href="javascript:void(0)" @click="toUrl('/cate/'+arti.secondTreeId+'/arti')">{{arti.firstTreeName}}</a>
      </div>
      <div class="content">
        <div v-for="(item, index) in arti.files">
            <div v-if="item.transFileUrlExt=='pdf'">
              <p v-for="n in item.transPicNum">
                <img :src="item.realTransPicUrl | getRealPic(n)"></img>
              </p>
              <!-- <pdf :src="item.realTransFileUrl" :page="page" @numPages="numPages = $event"></pdf>
              <div class="layout pagenav">
                <b class="td" @click="goPage(index,-1)"><i>上一页</i></b>
                <b class="tr td" @click="goPage(index,1)"><i>下一页</i></b>
              </div> -->
              <!-- <vueshowpdf @closepdf="closepdf" v-model="isshowpdf" :pdfurl="item.realTransFileUrl" @pdferr="pdferr" :maxscale='4' :minscale='0.6' :scale='1.1' ></vueshowpdf> -->
            </div>
            <div v-else><img :src="item.realTransFileUrl"></img></div>
        </div>
        <!-- <div v-if="arti.relatedType >= 1 && arti.relatedType <= 4"> -->
          <!-- <p v-for="(item, index) in arti.files"> -->
			      <!-- <pdf :src="item.realTransFileUrl"></pdf> -->
            <!-- <vueshowpdf v-show="true" :pdfurl="arti.transFileUrl" :maxscale='4' :minscale='0.6' :scale='1.1' ></vueshowpdf> -->
            <!-- <vue-pdf-viewer :url="arti.transFileUrl"></vue-pdf-viewer> -->
          <!-- </p>
        </div>
        <div v-else-if="arti.relatedType == 5">
          <p v-for="(item, index) in arti.files"><img :src="item.realFileUrl" /></p>
        </div>
        <div v-else-if="arti.relatedType == 7"><p><img :src="arti.fileUrl" /></p></div>
        <div v-else><p><img :src="arti.picUrl" /></p></div> -->
        <!-- <canvas id="the-canvas"></canvas> -->
      </div>
      <div class="contentwater"></div>
    </div>
    <!-- content end -->
    <div v-transfer-dom>
      <x-dialog v-model="showHideOnBlur" class="dialog-demo" hide-on-blur>
        <div class="mybtnbox" style="padding: 15px;">
          <p v-for="(item, index) in arti.files">
            <button @click="downFile(item)" class="btnblue">{{item.fileUrl | fileNameStr}}</button>
          </p>
        </div>
        <div @click="showHideOnBlur=false">
          <span class="vux-close"></span>
        </div>
      </x-dialog>
    </div>
  </section>
</template>

<script>
import { cookie, XDialog, TransferDomDirective as TransferDom, XButton } from 'vux'
// var PDFJS = require('pdfjs')
// import PDFJS from '../../config/pdf.js'
import pdf from 'vue-pdf'
import vueshowpdf from 'vueshowpdf'
export default {
  directives: {
    TransferDom
  },
  components: {
    cookie,
    pdf,
    vueshowpdf,
    XDialog,
    XButton
  },
  data () {
    return {
      artiId: parseInt(this.$route.params.artiId) || 0,
      arti: {},
      collect: false,
      showHideOnBlur: false,
      index: 0,
      page: 1,
      numPages: 0,
      interval: null,
      isshowpdf: false,
      size: 320
    }
  },
  created () {
    this.getArti(this.artiId)
  },
  filters: {
    subStr: function (value, num) {
      return value.substr(0, num)
    },
    classStr: function (value) {
      return 'ico-' + value
    },
    fileNameStr: function (value) {
      return value.substr(value.lastIndexOf('/') + 1)
    },
    getRealPic: function (value, num) {
      return value.replace('-*.', '-' + (num - 1) + '.')
    }
  },
  computed: {},
  mounted () {
    this.resize(750)
  },
  beforeDestroy () {
    if (this.interval != null) {
      clearInterval(this.interval)
    }
  },
  methods: {
    resize (size) {
      this.size = isNaN(Number(size)) ? 320 : size
      // this.index = 0
      var info = document.getElementById('info')
      // window.orientation
      var width = window.screen.width
      // iphone下，旋转时 高度即宽度！
      if ((window.orientation === 90 || window.orientation === -90) && /iphone/.test(navigator.userAgent.toLowerCase())) {
        width = window.screen.height
      }

      var meta = document.querySelector('meta[name=\'viewport\']')
      var content = []
      content.push('width=' + this.size)
      content.push('initial-scale=' + width / this.size)
      content.push('minimum-scale=' + width / this.size)
      if (location.hash.indexOf('/arti/detail') > -1) {
        content.push('maximum-scale=' + width * 2 / this.size)
        content.push('user-scalable=yes')
      } else {
        content.push('maximum-scale=' + width / this.size)
        content.push('user-scalable=no')
      }
      meta.content = content.join(',')
      if (info !== null) {
        this.index = this.index + 1
        info.innerText = ('orientationchange' in window) + ' ' + this.index + ' ' + ' ' + meta.content
      }
    },
    closepdf () {
      this.isshowpdf = false
    },
    pdferr (errurl) {
      console.log(errurl)
    },
    getArti (artiId) {
      var param = {
        artiId: artiId
      }
      let that = this
      this.get('/rest/arti/info', param, function (result) {
        if (result.status === 1) {
          that.arti = result.arti
          that.collect = that.arti.collect === 1
          document.title = that.arti.title
          if (that.arti.firstTreeId === 2) {
            that.waterMarker()
          }
          // 显示
          that.$vux.loading.show({
            text: '文档加载中...'
          })
          that.interval = window.setInterval(function () {
            let contentHeight = document.querySelector('.content').offsetHeight
            if (contentHeight > 150) {
              // 隐藏
              that.$vux.loading.hide()
              clearInterval(that.interval)
              // console.log(1)
            }
          }, 200)
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    share (relatedType) {
      var param = {
        relatedType: relatedType,
        relatedId: this.artiId
      }
      let that = this
      this.post('/rest/userrecord/save', param, function (result) {
        if (result.status === 1) {
          that.toastShow('success', '操作成功')
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    userop (value) {
      switch (value) {
        case 1:
          this.share(1)
          this.collect = !this.collect
          break
        case 2:
          this.share(2)
          this.showHideOnBlur = true
          // location.href = global.apiUrl + 'rest/arti/down?artiId=' + this.artiId
          // var param = {
          //   artiId: this.artiId
          // }
          // let that = this
          // this.get('/rest/arti/down', param, function (result) {
          //   if (result.status === 1) {
          //   } else {
          //     that.toastShow('text', result.message)
          //   }
          // })
          // location.href = this.arti.fileUrl
          break
        case 3:
          this.toastShow('text', '请单击右上角去分享')
          break
        default:
          break
      }
    },
    downFile (item) {
      location.href = item.realFileUrl
    },
    goPage (index, num) {
      if (this.index !== index) {
        this.page = 1
      } else {
        let page = this.page + num
        if (page < 1) {
          page = 1
          this.toastShow('text', ' 已经是第一页了')
        } else if (page > this.numPages) {
          page = this.numPages
          this.toastShow('text', ' 已经是最后一页了')
        }
        this.page = page
      }
    },
    waterMarker () {
      let userName = this.getFieldByUseInfo('userName')
      if (userName.length > 0) {
        this.addWaterMarker(userName)
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "~vux/src/styles/close";

.dialog-demo {
  .vux-close {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
</style>
