<template>
  <section class="bgwhite">
    <div v-title data-title="分类"></div>
    <footerButtom tab="1"></footerButtom>
    <!-- tab -->
    <!-- <tab style="width:500px;" :line-width=2 defaultColor="#333" active-color='#2698fd' v-model="index">
                                                              <tab-item class="vux-center" :selected="demo2 === item" v-for="(item, index) in list2" @click="demo2 = item" :key="index">{{item}}
                                                              </tab-item>

                                </tab> -->
    <div class="classtab">
      <ul class="layout">
        <li v-show="index>0" @click="getTrees(item.id,index)" v-for="(item, index) in trees" class="td" :class="{'on':index==selectIndex}">{{item.name}}</li>
      </ul>
    </div>
    <!-- tab end -->
    <div class="classifylist">
      <!-- 标准图集 -->
      <dl>
        <dd v-for="(item, index) in childTrees" @click="toChildUrl(item.id)">
          <span><img :src="index | childClassIcon(pId,item)" /></span>
          <h4>{{item.name}}</h4>
        </dd>
      </dl>
      <!-- 标准图集 end -->
    </div>
    <div v-transfer-dom>
      <x-dialog v-model="showHideOnBlur" class="dialog-demo" hide-on-blur>
        <div class="classifylist">
          <dl>
            <dd v-for="(item, index) in childTrees2" @click="toChildUrl(item.id)">
              <span><img :src="index | childClassIcon(pId,item)" /></span>
              <h4>{{item.name}}</h4>
            </dd>
          </dl>
        </div>
        <div @click="showHideOnBlur=false">
          <span class="vux-close"></span>
        </div>
      </x-dialog>
    </div>
  </section>
</template>

<script>
import { Tab, TabItem, numberPad, XDialog, TransferDomDirective as TransferDom } from 'vux'
import footerButtom from '../../components/Footer.vue'
export default {
  directives: {
    TransferDom
  },
  components: {
    footerButtom,
    Tab,
    TabItem,
    XDialog
  },
  data () {
    return {
      selectIndex: 1,
      pId: 0,
      trees: [],
      childTrees: [],
      showHideOnBlur: false,
      childTrees2: []
    }
  },
  created () {
    this.getTrees(0)
    this.getTrees(2)
  },
  filters: {
    childClassIcon: function (value, pId, item) {
      var realPicUrl = item.realPicUrl
      if (realPicUrl !== undefined && realPicUrl.length > 0) {
        return realPicUrl
      }
      var icon = 'tz'
      if (pId === 20) {
        icon = 'bz'
      } else if (pId === 43) {
        icon = 'cg'
      } else if (pId === 51) {
        icon = 'qy'
      }
      return '/static/images/class/' + icon + numberPad(value + 1) + '.png'
    }
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    getTrees (pId, index) {
      var param = {
        pId: pId
      }
      let that = this
      this.get('/rest/tree/list', param, function (result) {
        if (result.status === 1) {
          if (pId === 0) {
            that.trees = result.trees
          } else if (pId === 1) {
            that.toUrl('/cate/1/arti')
          } else {
            that.childTrees = result.trees
          }
        } else {
          that.toastShow('text', result.message)
        }
        if (index !== undefined) {
          that.selectIndex = index
          that.pId = pId
        } else {
          that.selectIndex = 1
        }
      })
    },
    toChildUrl (pId) {
      var param = {
        pId: pId
      }
      let that = this
      this.get('/rest/tree/list', param, function (result) {
        if (result.status === 1) {
          var trees = result.trees
          if (trees.length > 0) {
            that.childTrees2 = result.trees
            that.showHideOnBlur = true
            that.pId = pId
          } else {
            that.toUrl('/cate/' + pId + '/arti')
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~vux/src/styles/close";

.dialog-demo {
  .vux-close {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
</style>
