<template>
  <section>
    <div v-title data-title="信息检索"></div>
    <!--search  -->
    <div class="searchtop">
      <div class=" layout">
        <div class="td searchmod cur"><input type="text" placeholder="搜索资料" v-model="searchKey" /></div>
        <div class="td">
          <button @click="search">搜索</button>
        </div>
      </div>
    </div>
    <!--search end  -->
    <!--搜索历史  -->
    <!-- <div class="kwbox">
          <dl>
            <dt>
              <h4>搜索历史</h4>
              <i class="ref">清空记录</i>
            </dt>
            <dd>
              <ul class="kwtag">
                <li>建筑与土木工程</li>
                <li>剪纸到底能学会吗</li>
                <li>今天下雨吗</li>
                <li>战狼2好看吗</li>
                <li>办公类的视频</li>
                <li>建筑艺术的美</li>
              </ul>
            </dd>
          </dl>
        </div> -->
    <!--搜索历史 end  -->
    <!--热门搜索  -->
    <div class="kwbox">
      <dl>
        <dt>
          <h4>热门搜索</h4>
        </dt>
        <dd>
          <ul class="kwtag">
            <li v-for="(item, index) in hotKeys" @click="toUrl('/arti/searchlist/' + encodeURI(item))">{{item}}</li>
          </ul>
        </dd>
      </dl>
    </div>
    <!--热门搜索 end  -->
  </section>
</template>

<script>
import footerButtom from '../../components/Footer.vue'
export default {
  components: {
    footerButtom
  },
  data () {
    return {
      searchKey: '',
      hotKeys: []
    }
  },
  created () {
    this.getHotKeys()
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    search () {
      if (this.searchKey.length > 0) {
        this.toUrl('/arti/searchlist/' + encodeURI(this.searchKey))
      } else {
        this.toastShow('text', '关键字不能为空')
      }
    },
    getHotKeys () {
      this.get('/rest/common/categories', { type: 2 }, function (result) {
        if (result.status === 1) {
          for (var key in result.categoryMap) {
            this.hotKeys.push(result.categoryMap[key])
          }
        } else {
          this.toastShow('text', result.message)
        }
      }.bind(this))
    }
  }
}
</script>

<style>

</style>
