<template>
  <section>
    <div v-title data-title="文章详情"></div>
    <!-- bottombar -->
    <div class="articlebottom">
      <ul class="layout">
        <li class="td" @click="userop(2)" v-show="arti.down==1">
          <i class="ico-download"></i>
        </li>
        <li class="td" @click="userop(1)">
          <i :class="[collect ? 'ico-faved':'ico-fav']"></i>
        </li>
        <li class="td" @click="userop(3)">
          <i class="ico-share"></i>
        </li>
      </ul>
    </div>
    <!-- bottombar end -->
    <div class="videodetail">
      <!-- content -->
      <div class="container">
        <my-video :sources="video.sources" :options="video.options"></my-video>
      </div>
      <!-- <img src="http://img5.mtime.cn/mg/2017/10/02/093957.57763598.jpg" alt="这里是视频" /> -->
      <dl class="classlist">
        <dd>
          <div class="format">
            <h3>{{arti.title}}</h3>
            <p>{{arti.summary}}</p>
            <div class="editbox">
              <i :class="arti.relatedTypeName | classStr"></i>
              <b>{{arti.viewHits}}阅读</b>
              <b>{{arti.downNum}}人下载</b>
              <b>{{arti.createTimeStr}}</b>
              <a href="javascript:void(0)" @click="toUrl('/cate/'+arti.secondTreeId+'/arti')">{{arti.firstTreeName}}</a>
            </div>
          </div>
        </dd>
      </dl>
      <!-- content end -->
    </div>
  </section>
</template>

<script>
import { cookie } from 'vux'
import myVideo from 'vue-video'
import VueVideoPlayer from 'vue-video-player'
export default {
  components: {
    cookie,
    myVideo,
    VueVideoPlayer
  },
  data () {
    return {
      artiId: parseInt(this.$route.params.artiId) || 0,
      arti: {},
      video: {},
      collect: false,
      page: 1
    }
  },
  created () {
    this.getArti(this.artiId)
  },
  filters: {
    subStr: function (value, num) {
      return value.substr(0, num)
    },
    classStr: function (value) {
      return 'ico-' + value
    }
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    getArti (artiId) {
      var param = {
        artiId: artiId
      }
      let that = this
      this.get('/rest/arti/info', param, function (result) {
        if (result.status === 1) {
          that.arti = result.arti
          that.collect = that.arti.collect === 1
          document.title = that.arti.title
          that.video = {
            sources: [{
              src: that.arti.files[0].realTransFileUrl,
              type: 'video/mp4'
            }],
            options: {
              autoplay: true,
              volume: 0.6,
              poster: that.arti.picUrl
            }
          }
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    share (relatedType) {
      var param = {
        relatedType: relatedType,
        relatedId: this.artiId
      }
      let that = this
      this.post('/rest/userrecord/save', param, function (result) {
        if (result.status === 1) {
          that.toastShow('success', '操作成功')
        } else {
          that.toastShow('text', result.message)
        }
      })
    },
    userop (value) {
      switch (value) {
        case 1:
          this.share(1)
          this.collect = !this.collect
          break
        case 2:
          this.share(2)
          location.href = global.apiUrl + 'rest/arti/down?artiId=' + this.artiId
          break
        case 3:
          this.toastShow('text', '请单击右上角去分享')
          break
        default:
          break
      }
    }
  }
}
</script>
