<template>
  <section>
    <div v-title data-title="找回密码"></div>
    <!-- form -->
    <div class="feedbackbox">
      <dl>
        <dd><input type="password" class="input" placeholder="输入原密码" v-model="oldPassword" /></dd>
        <dd><input type="password" class="input" placeholder="输入新密码" v-model="password" /></dd>
        <dd><input type="password" class="input" placeholder="再次输入新密码" v-model="password2" /></dd>
        <dt>注：密码必须为6~12位，包括数字、字母</dt>
      </dl>

    </div>
    <div class="mybtnbox">
      <button class="btnblue" @click="saveData">保存</button>
    </div>
    <!-- form end -->
  </section>
</template>

<script>
import { cookie } from 'vux'
import headerTop from '../../components/Header.vue'
export default {
  components: {
    cookie,
    headerTop
  },
  data () {
    return {
      oldPassword: '',
      password: '',
      password2: ''
    }
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    saveData: function () {
      if (this.oldPassword.length === 0) {
        this.toastShow('text', '请输入原始密码')
        return
      }
      if (this.password.length === 0) {
        this.toastShow('text', '请输入新密码')
        return
      }
      if (this.password2.length === 0) {
        this.toastShow('text', '请确认新密码')
        return
      }
      if (this.password !== this.password2) {
        this.toastShow('text', '2次输入的密码不一致')
        return
      }
      let param = {
        oldPassword: this.oldPassword,
        password: this.password
      }
      this.post('/rest/user/updatepass', param, function (result) {
        if (result.status === 1) {
          let user = result.user
          let userInfo = {
            userId: user.userId,
            token: user.token
          }
          this.setStore(global.userInfo, JSON.stringify(userInfo))
          this.toastShow('success', '修改成功')
          this.loginToUrl()
        } else {
          this.toastShow('text', result.message)
        }
      }.bind(this))
    }
  }
}
</script>
