<template>
  <section>
    <div v-title data-title="个人中心"></div>
    <footerButtom tab="2"></footerButtom>
    <div>
      <div class="myuserbox">
        <i></i>
        <h3>{{user.userName}}</h3>
      </div>
      <!-- list -->
      <dl class="mylist">
        <dd @click="toUrl('/user/findpass')">
          <label class="ico-mypw"></label>
          <p class="after">修改密码</p>
        </dd>
      </dl>
      <dl class="mylist">
        <dd @click="toUrl('/user/2/arti')">
          <label class="ico-mydw"></label>
          <div class="layout">
            <p class="td">我的下载</p>
            <p class="td after tr">{{user.downloadNum}}篇</p>
          </div>
        </dd>
        <dd @click="toUrl('/user/1/arti')">
          <label class="ico-myfav"></label>
          <div class="layout">
            <p class="td">我的收藏</p>
            <p class="td after tr">{{user.collectNum}}篇</p>
          </div>
        </dd>
        <!-- <dd @click="toUrl('/user/3/arti')">
          <label class="ico-myshare"></label>
          <p>我的分享</p>
        </dd> -->
      </dl>
      <dl class="mylist">
        <dd @click="toUrl('/user/feedback')">
          <label class="ico-myfb"></label>
          <div class="layout">
            <p class="after">意见反馈</p>
          </div>
        </dd>
      </dl>
      <div class="mybtnbox">
        <button class="btnblue" @click="logout">退出登录</button>
      </div>
      <!-- list end -->
    </div>
  </section>
</template>

<script>
import footerButtom from '../../components/Footer.vue'

export default {
  components: {
    footerButtom
  },
  data () {
    return {
      user: {}
    }
  },
  created () {
    this.getUserInfo()
  },
  computed: {},
  mounted: function () {
  },
  methods: {
    getUserInfo () {
      this.get('/rest/user/info', {}, function (result) {
        if (result.status === 1) {
          this.user = result.user
        } else {
          this.toastShow('text', result.message)
        }
      }.bind(this))
    },
    logout () {
      this.removeStore(global.userInfo)
      this.toUrl('/index')
    }
  }
}
</script>
