// 底部导航
@import './mixins';//mixins
.menu{
    .bg-color(#fff);
    .elesize(100%;98px);
    border-top: 1px solid #ededed;
    position: fixed;
    left: 0;
    bottom: 0;
    display: table;
    box-align: center; 
    box-pack: center;
    z-index: 15;
    dd{
        width:33%;
        .tc;
        .p_r;
        .font(18px);
        .pt(3px);
        display: table-cell;
        vertical-align: middle;
        color: #999;
    }
    .ico-home{
        .icon("../images/icon/ico-b-home.png"; center; center; 72px; 63px);
        background-size: 65%;
    }
    .ico-class{
        .icon("../images/icon/ico-b-class.png"; center; center; 72px; 63px);
        background-size: 65%;
    }
    .ico-my{
        .icon("../images/icon/ico-b-user.png"; center; center; 72px; 63px);
        background-size: 65%;
    }
    dd.on{
        color: #2698fd;
        .ico-home{
            background-image: url("../images/icon/ico-b-home-on.png");
        }
        .ico-class{
            background-image: url("../images/icon/ico-b-class-on.png");
        }
        .ico-my{
            background-image: url("../images/icon/ico-b-user-on.png");
        }
    }
}