@import '../mixins/icon'; //icon
@import '../mixins'; //icon

// login
.ico-loginhead{
    .icon("../images/icon/ico-login-head.png"; center; center; 170px; 170px);
    background-size: contain;
}
// user
.ico-loginuser{
    .icon("../images/icon/ico-login-user.png"; center; center; 40px; 46px);
    background-size: contain;
}
// password
.ico-loginpaw{
    .icon("../images/icon/ico-login-paw.png"; center; center; 40px; 46px);
    background-size: contain;
}
// word
.ico-word{
    .icon("../images/icon/ico-word.png"; center; center; 26px; 26px);
    background-size: contain;
}
// pdf
.ico-pdf{
    .icon("../images/icon/ico-pdf.png"; center; center; 26px; 26px);
    background-size: contain;
}
// ppt
.ico-ppt{
    .icon("../images/icon/ico-pdf2.png"; center; center; 26px; 26px);
    background-size: contain;
}
// video
.ico-video{
    .icon("../images/icon/ico-video.png"; center; center; 26px; 26px);
    background-size: contain;
}

// excel
.ico-excel{
  .icon("../images/icon/ico-excel.png"; center; center; 26px; 26px);
  background-size: contain;
}

// piccoll
.ico-piccoll{
  .icon("../images/icon/ico-img.png"; center; center; 26px; 26px);
  background-size: contain;
}

// pic
.ico-pic{
  .icon("../images/icon/ico-imgs.png"; center; center; 26px; 26px);
  background-size: contain;
}

// other
.ico-other{
  .icon("../images/icon/ico-img.png"; center; center; 26px; 26px);
  background-size: contain;
}

// download
.ico-download{
    .icon("../images/icon/ico-download.png"; center; center; 43px; 43px);
    background-size: contain;
}
// fav
.ico-fav{
    .icon("../images/icon/ico-fav.png"; center; center; 43px; 43px);
    background-size: contain;
}

// fav
.ico-faved{
  .icon("../images/icon/ico-faved.png"; center; center; 43px; 43px);
  background-size: contain;
}

// share
.ico-share{
    .icon("../images/icon/ico-share.png"; center; center; 44px; 44px);
    background-size: contain;
}

// my
// password
.ico-mypw{
    .icon("../images/icon/ico-my-pw.png"; center; center; 75px; 90px);
    background-size: 32px auto;
}
// download
.ico-mydw{
    .icon("../images/icon/ico-my-dw.png"; center; center; 75px; 90px);
    background-size: 32px auto;
}
// fav
.ico-myfav{
    .icon("../images/icon/ico-my-fav.png"; center; center; 75px; 90px);
    background-size: 35px auto;
}
// share
.ico-myshare{
    .icon("../images/icon/ico-my-share.png"; center; center; 75px; 90px);
    background-size: 35px auto;
}
// password
.ico-myfb{
    .icon("../images/icon/ico-my-fb.png"; center; center; 75px; 90px);
    background-size: 37px auto;
}
// password
.ico-myclear{
    .icon("../images/icon/ico-my-clear.png"; center; center; 75px; 90px);
    background-size: 32px auto;
}

