/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.c-ed {
  color: #ededed;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.allfile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
  border: 0;
}
.p_r {
  position: relative;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
.ico-loginhead {
  background: url("../images/icon/ico-login-head.png") no-repeat center center;
  width: 170px;
  height: 170px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-loginuser {
  background: url("../images/icon/ico-login-user.png") no-repeat center center;
  width: 40px;
  height: 46px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-loginpaw {
  background: url("../images/icon/ico-login-paw.png") no-repeat center center;
  width: 40px;
  height: 46px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-word {
  background: url("../images/icon/ico-word.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-pdf {
  background: url("../images/icon/ico-pdf.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-ppt {
  background: url("../images/icon/ico-pdf2.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-video {
  background: url("../images/icon/ico-video.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-excel {
  background: url("../images/icon/ico-excel.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-piccoll {
  background: url("../images/icon/ico-img.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-pic {
  background: url("../images/icon/ico-imgs.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-other {
  background: url("../images/icon/ico-img.png") no-repeat center center;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-download {
  background: url("../images/icon/ico-download.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-fav {
  background: url("../images/icon/ico-fav.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-faved {
  background: url("../images/icon/ico-faved.png") no-repeat center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-share {
  background: url("../images/icon/ico-share.png") no-repeat center center;
  width: 44px;
  height: 44px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
}
.ico-mypw {
  background: url("../images/icon/ico-my-pw.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
.ico-mydw {
  background: url("../images/icon/ico-my-dw.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
.ico-myfav {
  background: url("../images/icon/ico-my-fav.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 35px auto;
}
.ico-myshare {
  background: url("../images/icon/ico-my-share.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 35px auto;
}
.ico-myfb {
  background: url("../images/icon/ico-my-fb.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 37px auto;
}
.ico-myclear {
  background: url("../images/icon/ico-my-clear.png") no-repeat center center;
  width: 75px;
  height: 90px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: 32px auto;
}
