/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.c-ed {
  color: #ededed;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.allfile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
  border: 0;
}
.p_r {
  position: relative;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
.searchmod {
  background-color: #fff;
  border-radius: 40px 40px 40px 40px;
  text-align: center;
  position: relative;
  border: 1px solid #cbcbcb;
  height: 68px;
}
.searchmod:before {
  background: url("/static/images/icon/ico-zoom.png") no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -14px 0 0 -90px;
  content: "";
  transition: linear .6s;
}
.searchmod input {
  background-color: transparent;
  width: 100%;
  height: 26px;
  border: 1px solid transparent;
  padding: 21px 0;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  border: none;
}
.searchmod input::-webkit-input-placeholder {
  color: #cbcbcb;
  line-height: normal;
}
.searchmod.cur:before {
  left: 0;
  margin-left: 15px;
}
.searchmod.cur input {
  text-align: left;
  padding-left: 60px;
}
