@import '../mixins/icon'; //icon
@import '../mixins'; //icon
.searchmod{
    .bg-color(#fff);
    .circle(40px);
    .tc;
    .p_r;
    border: 1px solid #cbcbcb;
    height: 68px;
    &:before{
        .icon("/static/images/icon/ico-zoom.png"; center; center; 25px; 25px);
        .pos-alt(50%;50%);
        .margin(-14px 0 0 -90px);
        content: "";
        transition: linear .6s;
    }
    input{
        .input-text(transparent;100%;26px;transparent;21px 0);
        .font(26px;26px);
        .tc;
        border:none;
        &::-webkit-input-placeholder {
            color:#cbcbcb;
            line-height:normal;
        }
    }
    &.cur{
        &:before{
            left:0;
            margin-left: 15px;
        }
        input{
            .tl;
            .pl(60px);
        }
    }
}
