@import '../mixins'; //icon
// 发布的车源列表
.sharelist{
    .padding(30px);
    .pb(100px);
    dl{
        .pb(25px);
        .p_r;
        &:after{
            content: "";
            .pos-alt;
            .elesize(100%;100%);
            background: url("../images/icon/ico-sel.png") no-repeat 95% 25px;
            z-index: 2;
            .none;
        }
        &.on:after{
            background-image: url("../images/icon/ico-selon.png");
        }
    }
    dd{
        img{
            width: 100%;
        }
    }
    dt{
        .bg-color(#f8f8f8);
        .font(28px; 86px);
        .padding(0 20px);
        h3{
            .normal;
        }
        &.btnbox{
            .tc;
            .mt(-15px);
            .pb(10px;)
        }
        button{
            .elesize(264px;58px);
            .font(24px);
            margin: 0 auto;
        }

    }
    &.edit dl:after{
        .block;
    }
}